<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="User Authentication">
  <meta name="author" content="Jorge Capona">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">  
  <link rel="stylesheet" type="text/css" href="style.css">

  <title>User Authentication</title>  
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Quick-Poll</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
{{#if user}}      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi {{user.username}}!!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
{{else}}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signin">Log In</a></li>
      </ul>
{{/if}}

    </div>
  </div>
</nav>

<div class="container">

  {{#if error}}
    <div class="alert alert-danger" role="alert"><p>{{error}}</p></div>
  {{/if}}

  {{#if success}}
    <div class="alert alert-success" role="alert"><p>{{success}}</p></div>
  {{/if}}

  {{#if notice}}
    <div class="alert alert-info" role="alert"><p>{{notice}}</p></div>
  {{/if}}


  {{{body}}}
</div>

</body>
</html>

