<!-- views/edit.handlebars -->
<div class="container">
  {{#if poll}}
      <h1>{{poll.title}}</h1>
        
  {{#poll.question}}
  <div class="panel panel-default">
      <div class="panel-heading">
          <div class="row">
            <div class="col-md-10">
              {{title}}
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-default disabled save_btn" value="{{id}}" inline><i class="fa fa-save"></i></button>
              <form name="del-question" action="/deleteQuestion" method="post"><button type="submit" name="q_id" value="{{id}}" class="btn btn-default del-question" inline><i class="fa fa-remove "></i></button></form>
            </div>
          </div>
      </div>

      <div class="panel-body">

        <div class="row">
          <div class="col-md-1">
            <div class="form-group">
              <label class="control-label">Answer</label>
            </div>
          </div>
          <div class="col-md-11">
            {{#answer}}
            <p>{{this.[1]}}</p>
            {{/answer}}
            <span class="added"></span>
            <button class="btn btn-default add_option form-control" type="button"><i class="fa fa-plus"></i> Add Option</button>
          </div>
        </div>

      </div>

  </div>
  {{/poll.question}}

    
  {{else}}
      <p>Nothing to see here</p>
  {{/if}}

</div>

<script type="text/javascript">
$(document).ready(function() {
  // To add dynamically new options when asked by user
  $(document).on('click',".add_option", function (e){
    e.preventDefault();
    var html = '<div class="input-group"><input type="text" class="form-control ans" placeholder="Option">';
    html += '<div class="input-group-btn"><button class="btn btn-default remove_field" type="button"><i class="fa fa-times"></i></button></div></div>';
    $(this).parent().parent('div').find('span').append(html);
    $(this).parent().parent().parent().parent('div').find('.save_btn').removeClass("disabled");
  });

  $(document).on('click','.remove_field',function (e){
    e.preventDefault(); 
    $(this).parent().parent('div').remove(); 
  });



 $(document).on('click','.save_btn',function (e){
    e.stopPropagation();
    e.preventDefault();

    var answers = [];
    $.each($(this).parent().parent().parent().parent().parent().find('.ans'), function() {
      if($(this)['0']['value'] !== '')
        answers.push($(this)['0']['value']);
    });

    if(answers.length != 0)
    {
      var form = {};
      form.poll_id = (window.location.search).replace('?pid=','');
      form.q_id = e['currentTarget']['attributes']['2']['value'];
      form.answers = answers;
      $.ajax({
        url: '/saveAnswers',
        type: 'POST',
        dataType: 'json',
        data: form,
        error: function(jqXHR, textStatus, errorThrown){
          alert('Error: ' + textStatus);
        },
        success: function(data){
          location.reload();
        }
      });
    }
  });
});
</script>
