<!-- views/users.handlebars -->
{{#if user}}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <a href="#" class="thumbnail"><img src="{{user.avatar}}" class="img-responsive"></a>
        </div>
        <div class="col-md-9">
          <h1>{{user.username}}</h1>
          <p>E-Mail: {{user.email}}</p>
          <p>Member since: {{user.created}}</p>
        </div>
      </div>
    </div>
  </div>


</div>
{{else}}
     <h1 class="text-center">There's nothing here!</h1>
{{/if}}

