<!-- views/view.handlebars -->
{{#if poll}}
    <div class="row">
      <div class="col-md-10"><h1>{{poll.title}}</h1></div>
      <div class="col-md-2"><a class="btn btn-info" target='_blank' id="twitter-share" href="http://twitter.com/intent/tweet?text='Do you have a minute? Please, take my poll'"><i class="fa fa-twitter fa-fw"></i>Tweet</a></div>
    </div>
    
  <form action="/vote" method="post">
  <input class="hidden" name="id" value="{{poll.id}}">
  <ol>  
  {{#poll.question}}
    <li><p>{{title}}</p></li>
    {{#answer}}
    <div class="{{../type}}">
      <label><input type="{{../type}}" name="{{../id}}" value="{{this.[0]}}">{{this.[1]}}</label>
    </div>
      {{/answer}}
      </ul>
    {{/poll.question}}
  </ol>
  <input type="submit" value="Submit" class="form-control">
  </form>

{{else}}
    <p>Nothing to see here</p>
{{/if}}