<!-- views/view.handlebars -->
{{#if poll}}
    <h1>{{poll.title}}</h1>
	<form>
	<ol>	
	{{#poll.question}}
    <li><p>{{title}}</p></li>
		{{#answer}}
	 	<div class="{{../type}}">
		  <label><input type="{{../type}}" name="{{@../index}}" value="">{{this}}</label>
		</div>
      {{/answer}}
      </ul>
    {{/poll.question}}
	</ol>
	</form>
{{else}}
    <p>Nothing to see here</p>
{{/if}}